<div class="container-fluid mt-5 card">
    <div class="row justify-content-center">
      <div class="col-4 card-body">
        <form [formGroup]="reactiveForm" #form="ngForm" >
            <h4 class="card-header ">Register Form</h4>
          <div class="form-group p-2">
              <label for="name" class="form-label">Name:</label>
              <input type="text" id="name" name="name" formControlName="name" placeholder="Your name" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                <div *ngIf="name.errors?.['required']">
                  This field is required.
                </div>
                <div *ngIf="name.errors?.['minlength']">
                  This field must have at least 1 character.
                </div>
                <div *ngIf="name.errors?.['maxlength']">
                  This field must have at most 250 characters.
                </div>
              </div>
          </div>
          <div class="form-group p-2">
              <label for="number" class="form-label">Number:</label>
              <input type="Number" id="number" name="number" formControlName="number" placeholder="Your number" required minlength="10" maxlength="10" class="form-control form-control-sm" [class.is-invalid]="number.invalid && (number.dirty || number.touched)">
              <div *ngIf="number.invalid && (number.dirty || number.touched)" class="invalid-feedback">
                <div *ngIf="number.errors?.['required']">
                  This field is required.
                </div>
                <div *ngIf="number.errors?.['minlength']">
                  This field must have at least 10 character.
                </div>
                <div *ngIf="number.errors?.['maxlength']">
                  This field must have at most 10 characters.
                </div>
              </div>
          </div>
          <div class="form-group p-2">
              <label for="password" class="form-label">Password:</label>
              <div class="input-group input-group-sm has-validation">
                <input type="text" id="password" name="password" formControlName="password" required minlength="8" class="form-control form-control-sm" [class.is-invalid]="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                  <div *ngIf="password.errors?.['required']">
                    This field is required.
                  </div>
                  <div *ngIf="password.errors?.['minlength']">
                    This field must have at least 15 characters.
                  </div>
                </div>
              </div>
          </div>
          <div class="form-group p-2">
            <div class="d-grid">
              <button type="button" class="btn btn-sm btn-primary" (click)="validate()">Validate</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
    




