<div class="card mt-5">
    <h4 class="card-header">Home Form</h4>
    <div class="card-body">
        <div>
           <table >
                <tr>
                    <th>NAME</th>
                    <th>NUMBER</th>
                    <th>PASSWORD</th>
                </tr>
                <!-- <th *ngFor="let array of array">
                    <td>{{array.name}}</td>
                    <td>{{array.number}}</td>
                    <td>{{array.password}}</td>
                </th> -->
           </table>
        </div>
    </div>
</div>